{% load static %}
<footer>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'productos' %}">Facebook</a></li>
        <li><a href="{% url 'index' %}">Instagram</a></li>
        <li><a href="{% url 'productos' %}">whatsapp</a></li>
       
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'productos' %}">Productos</a></li>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'productos' %}">Productos</a></li>
       
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'productos' %}">Productos</a></li>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'productos' %}">Productos</a></li>
       
    </ul>
</footer>

   
